* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7fafc;
  }
  
  .App {
    padding: 0 30px;
  }
  
  .Novo-Comentario {
    border-radius: .5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 3rem;
  }
  
  .Novo-Comentario h2 {
    margin: 0;
  }
  
  .Novo-Comentario input, .Novo-Comentario textarea {
    color: #4a5568;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 1rem 0;
    display: block;
    border-radius: .5rem;
  }
  
  .Novo-Comentario input {
    width: 300px;
  }
  
  .Novo-Comentario textarea {
    width: 100%;
  }
  
  .Novo-Comentario button {
    background-color: #4299e1;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
  }
  
  .Novo-Comentario button:hover {
    background-color: #2b6cb0;
  }